body {
    width: 100%;
    height: 100vh;
    background:linear-gradient(125deg, #000, #222) ;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    padding: 80px ;
    font-family:
    Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    overflow: hidden;
   
}

.quiz-container{
    width: 50%;
    height: 60%;   
    backdrop-filter: blur(20px);
    box-shadow: -5px -5px 40px #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
   
.quiz-circle{
    display: flex;
    gap: 20px;

}
 .quiz-circle span{
    width: 50px;
    aspect-ratio: 1/1;
    background-color: aliceblue;
    border-radius: 50px;
 }
 